<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">home</a>
      <a href="/data">data</a>
      <a href="/input">ask Questions</a>
      <a href="/svar">answer</a>
      <a href="#">noe</a>
      <a href="#">noe</a>
    </nav>
    <main>
      <h1>Answer a Question</h1>
      <form action="/answer" method="post">
        <label for="questionId">Choose a question to answer:</label>
        <select name="questionId" id="questionId" required>
          <% questions.forEach((question) => { %>
          <option value="<%= question.id %>"><%= question.Spørsmål %></option>
          <% }); %>
        </select>

        <label for="answer">Your Answer:</label>
        <textarea id="answer" name="answer" rows="4" required></textarea>

        <button type="submit">Submit Answer</button>
      </form>
    </main>
  </body>
</html>
